@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

.blog-hover:hover {
    color: #FFFFFF!important;
    transition: all .2s ease;
}
.blog-hover:hover .hover-underline {
    height:100%;
    transition: all .2s ease;
}

.bg-theme-1 {
    background-color: #DC3F87;
}
.bg-theme-2 {
    background-color: #39E49A;
}
.bg-theme-3 {
    background-color: #44318D;
}
.bg-theme-4 {
    background-color: #966FAF;
}
.bg-theme-5 {
    background-color: #A4B3B6;
}

.blog-content-block p { 
    margin-bottom: 15px;
    font-family: 'Roboto',' sans-serif';
    font-size: 17px;
}

pre.wp-block-code {
    border-left: 6px solid #44318D;
    background-color: #F5F7F9;
    padding: 20px 10px 20px 30px;
    margin-bottom: 15px;
    color: #797979;
    overflow-x: scroll;
}

.dark pre.wp-block-code {
    border-left: 6px solid #39E49A;
    background-color: rgb(58, 56, 56);
    color: #A4B3B6;
}